* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

/* Estilo geral */
body {
  background-color: #f4f4f9;
  color: #333;
  line-height: 1.6;
}

/* Cabeçalho */
header {
  background: #0d6efd;
  color: #fff;
  padding: 20px 0;
  text-align: center;
  box-shadow: 0 3px 6px rgba(0,0,0,0.2);
}

header h1 a {
  color: #fff;
  text-decoration: none;
  font-size: 2rem;
  letter-spacing: 2px;
}

/* Navegação */
nav {
  background: #212529;
  padding: 10px;
  text-align: center;
}

nav a {
  color: #fff;
  text-decoration: none;
  margin: 0 15px;
  font-weight: bold;
  transition: color 0.3s;
}

nav a:hover {
  color: #0d6efd;
}
/* Seção formulário */
main {
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
}

section {
  background: #fff;
  padding: 25px;
  border-radius: 12px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

section h2 {
  color: #0d6efd;
  margin-bottom: 20px;
  text-align: center;
}

/* Estilo do formulário */
form {
  display: flex;
  flex-direction: column;
  gap: 0px;
}

form label {
  font-weight: bold;
}

form input,
form textarea {
  padding: 30px;
  border: 1px solid #cccccc;
  border-radius: 10px;
  transition: border 0.3s;
}

form input:focus,
form textarea:focus {
  border: 1px solid #0d6efd;
  outline: none;
}

/* Botão */
form button {
  background: #0d6efd;
  color: #fff;
  padding: 12px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
  transition: background 0.3s;
}

form button:hover {
  background: #0b5ed7;
}

/* Rodapé */
footer {
  text-align: center;
  background: #212529;
  color: #fff;
  padding: 15px;
  margin-top: 40px;
}
